* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c7ec4;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.backdrop {
  top: 0;
  left: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.343);
}

.modal {
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 189, 83);
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.backdrop,
.modal {
  position: absolute;
}

.buttons {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.title {
  font-size: 3rem;
  padding: 30px;
  color: white;
}

.wrapper {
  margin-top: 20px;
  gap: 30px;
}

.wrapper,
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  background-color: #18a0f5;
  padding: 10px;
  gap: 10px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  color: #333435;
}

.buttton {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.form_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
