* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c7ec4;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 3rem;
  padding: 30px;
  color: white;
}

.wrapper {
  margin-top: 20px;
  gap: 30px;
}

.wrapper,
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  background-color: #18a0f5;
  padding: 10px;
  gap: 10px;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  color: #333435;
}

.buttton {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
