* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0c7ec4;
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding-bottom: 50px;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
}

.backdrop {
  top: 0;
  left: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.343);
}

.modal {
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 189, 83);
  padding: 15px 25px;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.backdrop,
.modal {
  position: absolute;
}

.buttons {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.row,
.form_title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

header {
  padding: 3rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  color: white;
}

.filter {
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
  color: #ffffff;
}

.wrapper {
  margin-top: 20px;
  gap: 30px;
}

.wrapper,
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card,
.chart {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

.card {
  background-color: #18a0f5;
  align-items: center;
  color: #333435;
  list-style-type: none;
}

.buttton {
  width: 100%;
  padding: 5px;
  cursor: pointer;
}

.form_title {
  padding-bottom: 5px;
}

.text_center {
  text-align: center;
}

.chart {
  display: flex;
  justify-content: space-around;
  background-color: #96d7ff;
}

.w-chart_bar {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200px;
  width: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.chart_bar {
  width: 100%;
  background-color: #1797e6;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.invalid_title label {
  color: #860000;
}

.invalid_title input {
  border-color: #ff6f6f;
}
